.vd-table {
  width: 100%;
  display: table;
  border-collapse: collapse;
  text-align: left;
  tr {
    border-bottom: 1px solid #ccc;
  }
  th, td {
    padding: 1em;
  }
  .arrow {
    border: solid #000f42;;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }

  .sort-button.ascending {
    .arrow {
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
    }
  }
}