/** Variables */
$col_number: 12;

$xs: 576px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

/** Inspired by the Boostrap */
@mixin grid($size, $col_number) {
	@for $i from 1 through $col_number {
		.col-#{$size}-#{$i} {
			display: flex;
      flex-basis: (100 / ($col_number / $i) ) * 1%;
			padding: 1em;
			flex-wrap: wrap;
		}
	}
}


@mixin breakpoints($media) {
	@if $media == sm {
		@media (min-width: $sm) { @content; }
	} @else if $media == md {
		@media (min-width: $md) { @content; }
	} @else if $media == lg {
		@media (min-width: $lg) { @content; }
	} @else if $media == xl {
		@media (min-width: $xl) { @content; }
	}
}


@include grid(xs, $col_number);

@include breakpoints(sm) {
	@include grid(sm, $col_number);
}

@include breakpoints(md) {
	@include grid(md, $col_number);
}

@include breakpoints(lg) {
	@include grid(lg, $col_number);
}

@include breakpoints(xl) {
	@include grid(xl, $col_number);
}


@include breakpoints(sm) {
  .vd-modal {
    max-width: 20em;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }
}

/** General styles */
html {
  box-sizing: border-box;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 0.875em;
  color: #000f42;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html, body, .container {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.row {
  display: flex;
	flex-wrap: wrap;
}

/** Display */
.d-block {
    display: block;
}

.d-none {
    display: none;
}

/** Positioning */

.float-right {
  float: right!important;
}

.float-left {
  float: left!important;
}

/** Buttons */

button, .button {  
  color: #fff;
  background-color: #0137ef;
  cursor: pointer;
  border: none;
  border-radius: 2em;
  &:hover, &:active, &:focus {
    outline: none;
  }
  &.center {
    margin: 0 auto;
  }
}

.btn--full {
  font-size: 1.1em;
  display: inline-block;
  text-align: center;
  margin: 0;
  line-height: 3em;
  padding-right: 1em;
  padding-left: 1em;
  color: #fff;
  white-space: nowrap;
  font-weight: 700;
}

.sort-button {
  margin-left: .2em;
  margin-right: .2em;
  background: none;
  border: none;
}

.close-button {
  font-size: 1em;
  line-height: 1em;
  padding: 0 .25em;
  border: none;
  border-radius: .25em;
}